.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
.Rcheck/
..Rcheck/
*.Rcheck/
*.tar.gz
notes/
vignettes/*.html
vignettes/*.R
vignettes/*.Rmd
!vignettes/sdt_summary_comparisons.Rmd
!vignettes/msdt_model.Rmd
/doc/
/Meta/
