.Rproj.user
.Rhistory
.RData
.Ruserdata
.quarto/
_quarto.yml
inst/doc
.Rcheck/
..Rcheck/
*.Rcheck/
*.tar.gz
notes/
pdfs/
.DS_Store
vignettes/*.html
vignettes/*.R
vignettes/test.Rmd
/doc/
/Meta/
docs/
Rplots.pdf
r4lineups_joss/
paper/*.pdf
joss_paper_v2.pdf
gem_report.md
